@font-face {
	font-family: 'Milliard Book';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Book'),
		url('../fonts/Rene Bieder  Milliard Book.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Book Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Book Italic'),
		url('../fonts/Rene Bieder  Milliard Book Italic.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Hairline';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Hairline'),
		url('../fonts/Rene Bieder  Milliard Hairline.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Hairline Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Hairline Italic'),
		url('../fonts/Rene Bieder  Milliard Hairline Italic.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Thin';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Thin'),
		url('../fonts/Rene Bieder  Milliard Thin.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Thin Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Thin Italic'),
		url('../fonts/Rene Bieder  Milliard Thin Italic.woff') format('woff');
}

@font-face {
	font-family: 'Milliard ExtraLight';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard ExtraLight'),
		url('../fonts/Rene Bieder  Milliard ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Milliard ExtraLight Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard ExtraLight Italic'),
		url('../fonts/Rene Bieder  Milliard ExtraLight Italic.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Light';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Light'),
		url('../fonts/Rene Bieder  Milliard Light.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Light Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Light Italic'),
		url('../fonts/Rene Bieder  Milliard Light Italic.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Medium'),
		url('../fonts/Rene Bieder  Milliard Medium.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Medium Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Medium Italic'),
		url('../fonts/Rene Bieder  Milliard Medium Italic.woff') format('woff');
}

@font-face {
	font-family: 'Milliard SemiBold';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard SemiBold'),
		url('../fonts/Rene Bieder  Milliard SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Milliard SemiBold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard SemiBold Italic'),
		url('../fonts/Rene Bieder  Milliard SemiBold Italic.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Bold'),
		url('../fonts/Rene Bieder  Milliard Bold.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Bold Italic'),
		url('../fonts/Rene Bieder  Milliard Bold Italic.woff') format('woff');
}

@font-face {
	font-family: 'Milliard ExtraBold';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard ExtraBold'),
		url('../fonts/Rene Bieder  Milliard ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Milliard ExtraBold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard ExtraBold Italic'),
		url('../fonts/Rene Bieder  Milliard ExtraBold Italic.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Heavy';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Heavy'),
		url('../fonts/Rene Bieder  Milliard Heavy.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Heavy Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Heavy Italic'),
		url('../fonts/Rene Bieder  Milliard Heavy Italic.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Black';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Black'),
		url('../fonts/Rene Bieder  Milliard Black.woff') format('woff');
}

@font-face {
	font-family: 'Milliard Black Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Milliard Black Italic'),
		url('../fonts/Rene Bieder  Milliard Black Italic.woff') format('woff');
}
